<form
  class="flex flex-col w-full h-full justify-start items-stretch"
  (ngSubmit)="onClickSubmit()"
  ngNativeValidate
>
  <!-- (ngSubmit)="onClickSubmit()" added to prevent form submission on submit && to enable ngModel binding -->
  <!-- ngNativeValidate added so tailwind default validations could work 
    because ngSubmit by default adds noValidate class to prevent default html 
    validation which are required for tailwind to work -->

  <h3 class="text-center text-slate-900 mb-8">
    Fill in following to start chatting
  </h3>
  <div>
    <label for="username" class="user-info-input-label mb-2">Username</label>
    <input
      type="text"
      id="username"
      placeholder="John"
      required
      class="user-info-input mb-8"
      pattern="^[a-zA-Z0-9]+$"
      minlength="4"
      maxlength="16"
      [(ngModel)]="username"
      name="username"
    />
  </div>
  <div>
    <label class="user-info-input-label mb-2" for="file_input"
      >Upload avatar</label
    >
    <input
      class="user-info-input-upload mb-8"
      id="file_input"
      type="file"
      required
      accept=".png, .jpg, .jpeg"
      (change)="onFileUpload($event)"
    />
  </div>
  <button type="submit" class="user-info-button">Submit</button>
</form>
