<div
  *ngIf="showUserInfoForm; else chat"
  class="flex w-1/3 h-fit justify-center items-center"
>
  <app-user-info
    (onUserInfoSubmittedEvent)="onUserInfoSubmitted($event)"
  ></app-user-info>
</div>
<ng-template #chat>
  <div class="flex w-1/3 h-fit justify-center items-center">
    <app-chat>
      <app-chat-header
        chatHeader
        [name]="userInfo.username"
        [profile]="userInfo.profile"
        [notificationCount]="notificationCount"
      ></app-chat-header>
      <app-chat-messages
        chatMessages
        [messages]="messages"
        class="hide-scrollbar"
      ></app-chat-messages>
      <app-chat-send
        chatSend
        (onSendMessageEvent)="onChatMessageSubmitted($event)"
      ></app-chat-send>
    </app-chat></div
></ng-template>
