<ng-container *ngIf="showNotificationPermissionAlert; else mainContent">
  <app-notification-permission-alert
    (userRespondToAskForPermissionEvent)="
      onUserRespondToAskForPermissionEvent($event)
    "
  ></app-notification-permission-alert>
</ng-container>

<ng-template #mainContent>
  <div
    *ngIf="showUserInfoForm; else chat"
    class="flex w-full lg:w-1/3 h-fit mx-2 lg:mx-0 justify-center items-center sm:mx-2"
  >
    <app-user-info
      (onUserInfoSubmittedEvent)="onUserInfoSubmitted($event)"
    ></app-user-info>
  </div>
  <ng-template #chat>
    <div
      class="flex w-full lg:w-1/3 h-fit mx-2 lg:mx-0 justify-center items-center"
    >
      <app-chat>
        <app-chat-header
          chatHeader
          [name]="userInfo.username"
          [profile]="userInfo.profileImg"
          [notificationCount]="notificationCount"
        ></app-chat-header>

        <app-chat-messages
          chatMessages
          [messages]="messages"
          class="hide-scrollbar"
          (messageOnScreenEvent)="onMessageOnScreenEventFired($event)"
        ></app-chat-messages>

        <app-chat-send
          chatSend
          (onSendMessageEvent)="onChatMessageSubmitted($event)"
        ></app-chat-send>
      </app-chat></div
  ></ng-template>
</ng-template>
